<div class="container">
  <div class="miltiline">
    <div class="column is-6 is-offset-3">
      <div class="content is-size-4">
        <h1 class="title has-text-centered"><%= @user %>'s Tweets </h1>
        
        <% @tweets.each do |tweet| %>
          <% if tweet.user == @user %>

            <%= render tweet %>

          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
