<h1><%= @user %>'s Tweets</h1>

<h3><%= link_to 'Home', tweets_path %></h3>

<div>
  <ul>
    <% @tweets.each do |tweet| %>
      <% if tweet.user == @user %>
        <li>
          <%= tweet.content %>
        </li>
      <% end %>
    <% end %>
  </ul>
</div>
