<div class="container">
  <div class="columns is-multiline">
    <div class="column is-6 is-offset-3">
      <div class="content is-size-4">
        <h1 class="title has-text-centered"> Tweets </h1>
      </div>

      <%= render @tweets, index_user: true %>

    </div>
</div>
