// Place all the styles related to the Comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.comment {
  background-color: #d7e4835e;
  border-top: 1px solid rgb(144, 191, 230);
}

.card {
  background-color: #bdcbe0ab;
  background-repeat: no-repeat;
  background-size: contain cover;
  background-position: center;
  border: 1px solid rgb(144, 191, 230);
}

.card-content {
  background-color: #da96a3;
  background-repeat: no-repeat;
  background-size: contain cover;
  background-position: center;
}
